data/
Dataset/
forest_segmented.zip
.venv/
Notebooks/Kalana/images
Notebooks/Kalana/masks
Notebooks/Kalana/meta_data.csv
Lasana/dataset/
previous research papers/
docs/
**/__pycache__/
*.pyc
.venv/

images/*
masks/*

# LaTeX build artifacts
*.aux
*.log
*.out
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz